.box {
    border: coral;
}

.home-container {
    text-align: center;
}

.navlist {
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: oblique;
    text-align:left;
    color:white;
}

.navbar-logo {
    text-align: center;
    font-size: 40px;
    color:white;
}

.shop-container {

    color:white;
    
}