.App {
    color:orange;
    background-image:url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Feskipaper.com%2Fimages%2Femperor-penguins-antartica-1.jpg&f=1&nofb=1');
    padding: 90px;
}
